.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Edit Mageme
			.panel-body
				.col-md-6.col-md-offset-3
					%strong.center Current Image
					%br/
					= image_tag @mageme.image.url('medium')

				= render 'form'

			.panel-footer
				= link_to "Cancel", mageme_path

